body {
  padding-bottom: 40px;
  background-color: #F8F8F8;
}

#div-cadastro {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

#form-cadastro {
  margin-top: 30px;
}

.div-inputs {
  padding: 15px 0;
  background: #FFF;
}

.div-inputs > div:first-child{
    margin-top: 15px;
}

.glyphicon {
  font-size: 1.5em;
  margin: 5px 0;
}

.form-horizontal .control-label{
  text-align: right;
}