body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F8F8F8;
}

#page-header {
  text-align: center;
}

#bem-vindo {
  text-align: center;
  margin-bottom: 30px;
}

.form-signin {
  background-color: #FFF;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #5bc0de;
  max-width: 350px;
  margin: 15px auto;
}

.nav li {
  width: 50%;
  text-align: center;
}

.tab-content{
  padding: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

#input-user{
  margin-bottom: 15px; 
  border-radius: 4px;
}

#input-password{
  margin-bottom: 10px; 
  border-radius: 4px;
}

.form-signin .image{
  display: block;
  margin: 0 auto;
}

.form-signin div{
  margin-top: 15px;
}

#help-list{
  list-style-type: none;
  padding: 0;
  text-align: center;
}

footer{
  text-align: center; 
  margin-top: 50px;
}